@using WebSupplyAvaliacao.Dominio.Entidade
@model Usuario;

<head>
    <link rel="stylesheet" href="/css/usuarios/cadastrar/cadastrar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<h2 class="title">Cadastrar Usuário</h2>
<div class="line"></div>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Usuario" asp-action="Cadastrar" method="post">
    <div class="box">
        <div class="input">
            <div class="label">
                <label asp-for="Nome"></label>
            </div>
            <div class="inputArea">
                <input type="text" asp-for="Nome" placeholder="Nome do usuário">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="input">
            <div class="label">
                <label asp-for="Email"></label>
            </div>
            <div class="inputArea">
                <input type="text" asp-for="Email" placeholder="usuario@email.com">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button type="submit"><i class="fas fa-save"></i>Cadastrar</button>
    </div>
</form>