<head>
    <link rel="stylesheet" href="/css/usuarios/cadastrar/conclusao.css">
</head>



<div class="centeredItems">
    <div class="boxContainer">
        <img src="/img/check.png" alt="Check icon">
        <p class="desc">Cadastro de Usuário Concluído!</p>
    </div>
</div>

<div class="buttonNext">
    <a href="/home"><button>Concluir</button></a>
</div>