@{
    Layout = "";
}

<head>
    <link rel="stylesheet" href="/css/negado.css">
</head>

<div class="centeredItems">
    <div class="boxContainer">
        <img src="/img/negado.png" alt="Check icon">
        <p class="desc">Acesso negado!</p>
    </div>
</div>

<div class="buttonNext">
    <a href="/"><button>Voltar</button></a>
</div>