<head>
    <link rel="stylesheet" href="/css/fornecedor/analysis/visualizacao-fornecedor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<h2 class="titleFirst">Dados do Fornecedor</h2>
<div class="line"></div>
<div class="box">
    <div class="left">
        <div class="input">
            <div class="label">
                <label for="">Razão Social:</label>
            </div>
            <input type="text" placeholder="Fornecedor">
        </div>
        <div class="input">
            <div class="label">
                <label for="">Contato:</label>
            </div>
            <input type="text" placeholder="Gustavo">
        </div>
        <div class="input">
            <div class="label">
                <label for="">E-mail:</label>
            </div>
            <input type="text" placeholder="fornecedor@gmail.com">
        </div>
    </div>
    <div class="right">
        <div class="input">
            <div class="label">
                <label for="">CNPJ:</label>
            </div>
            <input type="text" placeholder="12.345.678/0001.00">
        </div>
        <div class="input">
            <div class="label">
                <label for="">Telefone:</label>
            </div>
            <input type="text" placeholder="+55 11 94987-9357">
        </div>
        <div class="toggle-wrapper">
            <div class="description">
                Status:
            </div>
            <label class="switch">
                <input type="checkbox" class="hidden-toggle" />
                <div class="slider">
                    <div class="button"></div>
                </div>
            </label>
        </div>
    </div>
</div>

<h2 class="title">Endereço do Fornecedor</h2>
<div class="line"></div>
<div class="box">
    <div class="left">
        <div class="input">
            <div class="label">
                <label for="">CEP:</label>
            </div>
            <input type="text" placeholder="0987654">
        </div>
        <div class="input">
            <div class="label">
                <label for="">Rua:</label>
            </div>
            <input type="text" placeholder="Rua dos Sonhos">
        </div>
        <div class="input">
            <div class="label">
                <label for="">Complemento:</label>
            </div>
            <input type="text" placeholder="Ao lado do restaurante do Zé">
        </div>
        <div class="input">
            <div class="label">
                <label for="">Cidade:</label>
            </div>
            <input type="text" placeholder="São Paulo">
        </div>
    </div>
    <div class="right">
        <div class="input">
            <div class="label">
                <label for="">Bairro:</label>
            </div>
            <input type="text" placeholder="Bela Vista">
        </div>
        <div class="input">
            <div class="label">
                <label for="">N°:</label>
            </div>
            <input type="text" placeholder="6484-A">
        </div>
        <div class="input">
            <div class="label">
                <label for="">UF:</label>
            </div>
            <input type="text" placeholder="SP">
        </div>
    </div>
</div>

<h2 class="title">Documentos do Fornecedor</h2>
<div class="line"></div>
<div class="documents">
    <p class="doc">Documentação1.pdf</p>
</div>

<div class="buttons">
    <button><i class="fas fa-save"></i>Salvar</button>
    <button><i class="fas fa-star"></i>Avaliar</button>
</div>
