
<head>
    <link rel="stylesheet" href="/css/fornecedor/register/cadastro3.css">
</head>

<div class="centeredItems">
    <div class="boxContainer">
        <img src="/img/check.png" alt="Check icon">
        <p class="desc">Documento alterado com sucesso!</p>
    </div>
</div>

<div class="buttonNext">
    <a href="/Fornecedor/Editar/@ViewBag.FornecedorId"><button>Concluir</button></a>
</div>
