@model List<WebSupplyAvaliacao.Dominio.Entidade.Fornecedor>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/fornecedor/analysis/lista-fornecedor.css">
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <title>Avaliação de Fornecedor</title>
</head>


<h2 class="title">Lista de Fornecedores</h2>

<div class="itemsCentered">
    <table id="lista-fornecedor">
        <thead>
            <tr>
                <td>CPF/CPNJ</td>
                <td>Fornecedor</td>
                <td>Status</td>
                <td>Visualização Completa</td>
            </tr>
        </thead>
        <tbody>
                @foreach (var forn in Model)
                {
                    <tr>
                        <td class="cnpj">@forn.CNPJ</td>
                    <td onmouseover="showFullName(this, '@forn.NomeFantasia')" onmouseout="this.title='';">@TruncateString(@forn.NomeFantasia, 35)</td>
                        @if (@forn.Status == true)
                        {
                            <td>Ativo</td>
                        }
                        else
                        {
                            <td>Inativo</td>
                        }
                        <td><a href="/Fornecedor/Editar/@forn.ID">Ver</a></td>
                    </tr>
                }
        </tbody>
    </table>
</div>

@functions {
    public string TruncateString(string value, int maxLength)
    {
        if (string.IsNullOrEmpty(value))
            return value;

        return value.Length <= maxLength ? value : value.Substring(0, maxLength) + "...";
    }
}

<script>
    var table = new DataTable('#lista-fornecedor', {
        language: { url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/Portuguese-Brasil.json" },
        lengthMenu: [6], // Define o valor padrão de 6 sem a opção de seleção
        paging: true,
        searching: true,
        ordering: false,
        language: {
            lengthMenu: 'Apresentar _MENU_ linhas por página',
            zeroRecords: 'Não há Registros',
            info: 'Página _PAGE_ de _PAGES_',
            infoEmpty: 'Não há Registros',
            infoFiltered: '(Filtrando de _MAX_ registros)',
            searchPlaceholder: "Busque o forncedor",
            search: 'Pesquisar:',
            paginate: {
                next: '<i class="fas fa-angle-right"></i>',
                previous: '<i class="fas fa-angle-left"></i>',
            },
        },
    });

    function showFullName(element, fullName) {
        element.title = fullName;
    }
</script>

<script src="/js/mask.js"></script>