<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script> <!--jQUERY Mask Plugin-->
    <link rel="stylesheet" href="/css/others/sidebar.css">
    <title>Avaliação de Fornecedor</title>
</head>

<body>
    <main>
        <nav class="sidebar">
            <div class="logo">
                <a href="/home"><img src="/img/websupplyLogo.png" alt="Logo da Websupply"></a>
            </div>
            <ul>
                <li class="menu-item">
                    <p>Fornecedores<span class="menu_vector">►</span></p>
                    <ul class="sub-menu">
                        <a href="/Fornecedor/Cadastrar"><li>Cadastrar</li></a>
                        <a href="/Fornecedor/Listar"><li>Analisar</li></a>
                    </ul>
                </li>
                <li class="menu-item">
                    <p>Avaliar<span class="menu_vector">►</span></p>
                    <ul class="sub-menu">
                        <a href="/Avaliar/ListaAvaliar">
                        <li>Realizar Avaliação</li></a>
                        <a href="/Avaliar/ListaAvaliados">
                        <li>Histórico de Avaliações</li></a>
                    </ul>
                </li>
                <li class="menu-item">
                    <p>Usuários<span class="menu_vector">►</span></p>
                    <ul class="sub-menu">
                        <a href="/Usuario/Cadastrar"><li>Criar Usuário</li></a>
                        <a href="/Usuario/Listar"><li>Consultar Usuário</li></a>
                    </ul>
                </li>
                <li class="menu-item">
                    <p><a href="#">Indicadores</a></p>
                </li>
            </ul>

            <div class="buttonArea">
                @* <a href="/Login/Logout"><button>Finalizar</button></a> *@
                <a href="/"><button>Finalizar</button></a>
            </div>
        </nav>

        <section class="container">
            @RenderBody()
        </section>
    </main>

    <script src="/js/sidebar.js"></script>
</body>

</html>